<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>SD ViewBoxView</h1>
    </div>
    <p class="lead">
      Adding gestures to SVGSVGElements with use of hammerjs.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>CustomEvents</h2>
    <dl>
      <dt>zoombegin</dt>
      <dd>...</dd>
      <dt>zoom</dt>
      <dd>...</dd>
      <dt>zoomend</dt>
      <dd>...</dd>
      <dt>panbegin</dt>
      <dd>...</dd>
      <dt>panend</dt>
      <dd>...</dd>
    </dl>
    <p>Use shift+click to simulate touch</p>
    <div class="form-group">
      <form role="form" class="form-inline">
        <div class="checkbox">
          <label> <input type="checkbox" ng-model="enableZoom">Enable
            zoom
          </label>
        </div>
        <div class="checkbox">
          <label> <input type="checkbox" ng-model="enablePan">Enable
            pan
          </label>
        </div>
    </div>
    </form>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:sd="uri:whatevermakesyouhappy" width="400" height="400"
        viewBox="0 0 900 900" sd:view-box-view
        transform="matrix(0.5,0,0,0.5,0,0)" sd:zoomable="enableZoom"
        sd:pannable="enablePan">
      <rect fill="yellow" width="900" height="900" stroke="black" />
      <sd:xinclude href="includes/Ghostscript_Tiger.svg" />
    </svg>
  </div>
</div>