<!doctype html>
<html>
   <head>
      <meta encoding="UTF-8" />
      <title>Angular SVG Directives</title>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
   </head>
   <body>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/hammerjs/hammer.js"></script>
      <script src="bower_components/hammerjs/plugins/hammer.fakemultitouch.js"></script>
      <script src="bower_components/hammerjs/plugins/hammer.showtouches.js"></script>
      <script>
      Hammer.plugins.fakeMultitouch();
      Hammer.plugins.showTouches();
      </script>
      
      <script src="src/xmlns.js"></script>
      <script src="src/sd.js"></script>
      <script src="src/compile.js"></script>
      <script src="src/xinclude.js"></script>
      <script src="src/zoomable.js"></script>
            
      <div ng-app="demo" ng-controller="DemoCtrl" class="container">
         <h1>Angular SVG Directive Demo</h1>
         <p class="lead">Basic demo of what can be done with angular and data binding svg.</p>
         <div class="hero-unit">
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:sd="uri:whatevermakesyouhappy" xmlns:xlink="http://www.w3.org/1999/xlink">
               <sd:xinclude href="includes/filters.svg"/>
               <image y="100" ng:attr-filter="{{filter !== 'none' ? 'url(#' + filter + ')' : ''}}" sd:xlink-href="image" ng:attr:width="{{width}}" height="100%" preserveAspectRatio="xMinYMin meet"/>
            </svg>
            <h1>Image filters</h1>
            <form role="form" class="form-inline">
               <div class="form-group">
                  <label for="image">Set image</label>
                  <input class="form-control" type="file" name="image" accept="image/*" />
               </div>
               <div class="form-group">
                  <label for="imagefilter">Set image filter</label>
                  <select class="form-control" name="imagefilter" ng-model="filter" ng-options="filter for filter in filters"></select>
               </div>
            </form>
         </div>
         <hr/>
         <h1>Basic shape manipulation</h1>
         <div class="row">
            <aside class="col-md-4">
               <form role="form" class="form-inline">
                  <div class="form-group">
                     <label for="viewBoxMinX">Set minX of viewBox</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="viewBoxMinX" name="viewBoxMinX" />
                  </div>
                  <div class="form-group">
                     <label for="viewBoxMinX">Set minY of viewBox</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="viewBoxMinY" name="viewBoxMinY" />
                  </div>
                  <div class="form-group">
                     <label for="viewBoxWidth">Set width of viewBox</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="viewBoxWidth" name="viewBoxWidth" />
                  </div>
                  <div class="form-group">
                     <label for="viewBoxWidth">Set height of viewBox</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="viewBoxHeight" name="viewBoxHeight" />
                  </div>
                  <div class="form-group">
                     <label for="width">Set width of rect</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="width" name="width" />
                  </div>
                  <div class="form-group">
                     <label for="height">Set height of rect</label>
                     <input class="form-control" type="range" min="10" max="400" ng-model="height" name="height" />
                  </div>
                  <div class="form-group">
                     <label for="fill">Set color of rect</label>
                     <input class="form-control" type="color" ng-model="fill" name="fill" />
                  </div>
                  <div class="form-group">
                     <label for="stroke">Set color of stroke</label>
                     <input class="form-control" type="color" ng-model="stroke" name="stroke" />
                  </div>
               </form>
            </aside>
            <div class="col-md-6">
               <svg xmlns="http://www.w3.org/2000/svg" 
                  xmlns:sd="uri:whatevermakesyouhappy" 
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  sd:view-box="[viewBoxMinX, viewBoxMinY, viewBoxWidth, viewBoxHeight].join(' ')">
                  <g>
                     <!--  interpolated attributes {{}} -->
                     <rect sd:fill="{{fill}}" sd:stroke="{{stroke}}" sd:width="{{width}}" sd:height="{{height}}"/>
                     <g>
                        <rect ng:repeat="item in [1,2,3]"  
                           ng:click="clicked(event, item)" 
                           ng:attr:stroke="{{stroke}}" 
                           ng:attr:fill="{{fill}}"
                           ng:attr-y="{{($index * height) + 10}}" 
                           ng:attr:width="{{width}}" ng:attr:height="{{height}}"/>
                     </g>
                  </g>
               </svg>
            </div>
         </div>
         <hr>
         <h2>Animated thingie</h2>
         <form role="form" class="form-inline">
            <div class="form-group">
               <label for="imagefilter">Animation duration</label>
               <input type="range" min="1" max="4" class="form-control" name="animationDuration" ng-model="animationDuration"/>
            </div>
            <div class="form-group">
               <label for="imagefilter">Animation Attribute</label>
               <select class="form-control" name="animationAttr" ng-model="animationAttr">
                  <option value="x">x</option>
                  <option value="y">y</option>
               </select>
            </div>
         </form>
         <svg>
            <rect x="10" y="10" width="100" height="100" 
               ng:attr-fill="{{fill}}">
               <animate attributeType="XML"
                  sd:attribute-name="animationAttr"
                  from="-100" to="120"
                  ng:attr-dur="{{animationDuration}}s"
                  onload="console.log('loaded')"
                  repeatCount="indefinite"/>
            </rect>
         </svg>
         <hr>
         <h2>SD Includes</h2>
         <h3>Bare example</h3>
         <pre>&lt;sd:xinclude href="includes/test.svg"/&gt;</pre>
         <svg>
            <sd:xinclude href="includes/test.svg"/>
         </svg>
         <h3>Rects first</h3>
         <pre>&lt;sd:xinclude href="includes/rects.svg" xpointer="//*[@id='first']"/&gt;</pre>
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:sd="uri:whatevermakesyouhappy" xmlns:xlink="http://www.w3.org/1999/xlink">
            <sd:xinclude href="includes/rects.svg" xpointer="//*[@id='first']"/>
         </svg>
         <h3>Rects second</h3>
         <pre>&lt;sd:xinclude href="includes/rects.svg" xpointer="//*[@id='second']"/&gt;</pre>
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:sd="uri:whatevermakesyouhappy" xmlns:xlink="http://www.w3.org/1999/xlink">
            <sd:xinclude href="includes/rects.svg" xpointer="//*[@id='second']"/>
         </svg>
     <h2>SD Zoomable</h2>
     <p>Dispatches CustomEvents zoombegin, zoom, zoomend
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:sd="uri:whatevermakesyouhappy" width="400" height="400" viewBox="0 0 900 900" 
        sd:zoomable>
        <sd:xinclude href="includes/Ghostscript_Tiger.svg"/>
      </svg>
      <h2>SD Selectable</h2>
      <p>Dispatches CustomEvent select</p>
       <svg width="400" height="400" sd:viewBox="0 0 400 400">
        <rect width="200" height="200" fill="red" sd:selectable="true"/>
        <rect width="200" height="200" x="200" fill="blue" sd:selectable/>
        <rect width="400" height="200" y="200" fill="green" sd:selectable="false"/>
      </svg>
      <h2>SD Transformable</h2>
      <p>Using gestures(using hammerjs) and mouse.</p>
      <p>Supports scaling (ScaleMode.SCALE), moving, rotating, resizing (ScaleMode.RESIZE)</p>
      <p>Supports transform origins (Origin.TOP, Origin.BOTTOM, Origin.LEFT, Origin.RIGHT, Origin.CENTER)</p>
      <p>Supports clipping box, overlap constraint and hit detection</p>
      <p>Dispatched ustomEvents transformbegin, transform, transformend</p>
       <svg width="400" height="400" sd:viewBox="0 0 400 400">
        <rect width="200" height="200" fill="red" sd:transformable="transformOptions"/>
        <rect width="200" height="200" fill="green" sd:transformable transform="translate(200,200)"/>
      </svg>             
         
      </div>
      <script>
         angular.module('demo', ['sd']).
          controller('DemoCtrl', function ($scope) {
           $scope.viewBoxMinX = 0;
           $scope.viewBoxMinY = 0;
            $scope.viewBoxWidth = 400;
            $scope.viewBoxHeight = 400;
           $scope.width = 100;
            $scope.height = 50;
            $scope.fill = 'pink';
            $scope.stroke = 'black';
            $scope.animationDuration = '4';
            $scope.animationAttr = 'x';
            
            
            $scope.image = 'http://angularjs.org/img/AngularJS-large.png';
            $scope.filter = 'none'
            $scope.filters = ['none','saturate','hueRotate','L2A','matrix-contrast','matrix-sepia','matrix-greyscale','matrix-greyscale-greenboost','matrix-invert'];  
            $scope.clicked = function (event, item) {
              alert('Clicked:' + JSON.stringify(item));
            }
            
            $scope.activated = function () {
              alert('Activated');
            }
            
            /**
            * just for the demo this controller communicates to the view. just because i am lazy today :-)
            */
            document.querySelector('[name="image"]').addEventListener('change', function (event) {
            var reader = new FileReader();
            reader.onload = function () {
              var dataURL = this.result;
                $scope.$apply(function () {
                    $scope.image = dataURL;
                })
            }
            reader.readAsDataURL(event.target.files[0]);
            }, false);
         
            $scope.$watch('filter', function (value) {
              console.log('Image filter set:' + value);
            })
          })
      </script>
   </body>
</html>